body { /* Css del body del iframe */
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

/* Para poner los proyectos en tipo tabla */
.proyectos { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
/* Son las imagenes de los proyectos, con su titulo y descripcion */
.imagen_proyecto {
    border-radius: 8px;
    display: block;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen_proyecto:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
.imagen_proyecto img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.titulo{
    font-size: 18px;
    font-family: Arial, "sans-serif";
    text-align: center;

}

 /*Título */
.imagen_proyecto:hover .titulo {
    font-size: 18px;
    font-family: Arial, "sans-serif";
    text-align: center;

} 

.descripcion {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #555;
    font-family: Arial, "sans-serif";
    text-align: center;
    border: 2px solid black;
    border-radius: 5px; 
    margin: 0px;
}

/* Diseño responsive */
@media (max-width: 992px) {
    .proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .proyectos {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* No mover nada aqui, si no el formato se rompe  */
