body { /* Css del body del iframe */
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

/* Para poner los proyectos en tipo tabla */
.proyectos { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
/* Son las imagenes de los proyectos, con su titulo y descripcion */
.imagen_proyecto {
    display: block;
    text-decoration: none;
    color: black;
}

.imagen_proyecto img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

/* Título */
.imagen_proyecto::after {
    content: attr(data-titulo) "\A" attr(data-descripcion);
    white-space: pre-line;
    display: block;
    margin-top: 8px;
}

/* Diseño responsive */
@media (max-width: 992px) {
    .proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .proyectos {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* No mover nada aqui, si no el formato se rompe  */
